<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoom Clone</title>
</head>
<body>
    <div>
        <label id="label-username" for="username">Username</label><input id="username" required/>
        <label id="label-roomId" for="roomId">Meeting ID</label><input id="roomId" required />

        <button id="btn-join">Join</button>
    </div>

    <div class="main-grid-container">
        <div id="video-container">
            <div>
                <video style="border: black solid 1px;" id="local-video" autoplay playsinline></video>
            </div>
            <button id="btn-toggle-audio">
                Audio Mute
            </button>
            <button id="btn-toggle-video">
                Video Mute
            </button>
        </div>

        <div id="chat">
            <h3>Chat</h3>
            <div id="messages">
                <ul id="message-list"></ul>
            </div>
            <div>
                <input id="msg" />
                <button id="btn-send-msg">Send</button>
            </div>
            <button id="btn-share-screen">Share Screen</button>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>